@use './../common/variable' as vars;
@use './../common/mixin' as mixin;
@use 'sass:map';
@use 'sass:color';
@use 'sass:list';

// Accordian
.c-accordion {
  --c-acc-bezier: cubic-bezier(.4, 0, .2, 1);

  display: flex;
  flex-direction: column;
  width:100%;
  // 멀티 유형
  &.multi{

  }
  // 배경 및 outline 없는 형태
  &.normal{
    .c-acc-header{
      border-radius: 0;
      border: 0;
      .state{
        font-size:var(--num-14);
        font-weight: vars.$regular;
        + p{
          margin-top: .25rem;
        }
      }
      p{
        @include mixin.lineClamp($fontSize: 16, $lineNum: 2, $lineHeight: 1.375);
      }
      &:has(.acc-btn[aria-expanded=true]) {
        border-radius: 0;
        border: 0;
        background-color: var(--white);
        color: rgb(var(--black));
      }
      &:has(.state){
        .acc-btn{
          top:0;
        }
      }
    }
    .acc-btn[aria-expanded=true]::before {
      background-color: rgb(var(--black));
    }
  }
  .question{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    margin-right: .75rem;
    border-radius:50%;
    background-color:var(--lightgray);
    color:rgb(var(--black));
  }
}
.acc-btn{
  display:block;
  position:absolute;
  top:0;
  right:0;
  z-index:1;
  width:100%;
  height:100%;
}
.c-acc-title{
  position:relative;
  width:100%;
  padding: .5rem;
  padding-right: 40px;
  word-break: break-all;
  .text{
    display:inline-block;
    font-weight:600;
    word-break: break-all;
  }
}
.c-acc-header{
  overflow:hidden;
  position:relative;
  border-radius: .5rem;
  border:1px solid var(--silver);
  &:has(.acc-btn[aria-expanded="true"]){
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-color:rgb(var(--primary));
    background-color:rgb(var(--primary));
    color:rgb(var(--white));
  }
  // 서브 아코디언이 있을 경우
  &:has(+ .c-acc-body > .c-accordion-sub){
    border-radius: .5rem;
  }
}
.c-acc-body{
  overflow:hidden;
  display:none;
  position:relative;
  width:100%;
}
.c-acc-item{
  position:relative;
  width:100%;
  ~ .c-acc-item{
    margin-top:.5rem;
  }
  &.is-show{
    > .c-acc-body{
      display: block;
    }
  }
  &:has(.c-card.faq_answer){
    padding: 1.25rem 0;
    border-bottom:1px solid rgb(var(--gray-04));
    .acc-btn::before{
      top: 50%;
    }
    ~ .c-acc-item{
      margin-top:0;
    }
    &:last-child{
      border-bottom:0;
    }
    &.is-show{
      padding-bottom:0;
      border-bottom:0;
    }
  }
}
// sub accordion
.c-accordion-sub{
  padding: .5rem;
  .acc-btn{
    &[aria-expanded="true"]{
      &::before{
        background-color: rgb(var(--black));
      }
    }
  }
  .c-acc-header{
    &:has(.acc-btn[aria-expanded="true"]){
      border-radius:.5rem;
      border-color:rgb(var(--primary));
      background-color:var(--white);
      color:rgb(var(--black));
    }
  }
  .c-acc-item{
    &.is-show{
      > .c-acc-body{
        display: block;
      }
    }
  }
}