@use './../common/variable' as vars;
@use './../common/mixin' as mixin;
@use 'sass:map';
@use 'sass:color';
@use 'sass:list';

// Breadcrumb
.c-breadcrumb {
  --c-breadcrumb-bezier: cubic-bezier(.4, 0, .2, 1);
  --c-breadcrumb-offset: 20px;
  --c-breadcrumb-offset-center: 50%;
  --c-breadcrumb-height: 30px;
  --c-breadcrumb-padding: 15px;
  --c-breadcrumb-btn-size: 20px;
  --c-breadcrumb-border-color: var(--lightgray);

  display:flex;
  flex-wrap: wrap;
  width: 100%;

  .icon{
    flex:none;
    width: 18px;
    height: 20px;
    mask-size: 18px;
  }
  .item{
    font-size: var(--num-14);
    em{
      color:rgb(var(--primary));
      font-weight:vars.$bold;
    }
    &::after{
      content:"";
      display:inline-block;
      width:8px;
      height:8px;
      margin:0 .5rem;
      background-repeat:no-repeat;
      background-size: fit-content;
      background-position: 50% 50%;
      background-image: url("data:image/svg+xml,%3Csvg width='6' height='10' viewBox='0 0 6 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.25 8.5L4.75 5L1.25 1.5' stroke='%23CCCCCC' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    }
    &:only-child,
    &:last-child{
      &::after{
        display:none;
      }
    }
  }
}