@use './../common/variable' as vars;
@use './../common/mixin' as mixin;
@use 'sass:map';
@use 'sass:color';
@use 'sass:list';

// Tag
.c-rangetype {
  --crange-bezier: cubic-bezier(.4, 0, .2, 1);
  --crange-transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  --crange-height: 1.4rem;
  --crange-runnable-track-color: var(--lightgray);
  --crange-color: rgb(var(--black));

  display:flex;
  align-items: center;
  flex-wrap:wrap;
  .c-label{
    display:inline-flex;
    margin-right:var(--space);
    font-weight:vars.$regular;
  }
  &.slider{
    flex-direction: column;
    .c-label{
      width:100%;
      margin:0;
    }
  }
}
.c-range{
  width: 100%;
  height: var(--crange-height);
  padding: 0;
  background-color: transparent;
  &::-webkit-slider-container {
    display: flex;
    flex: 1 1 0%;
    min-inline-size: 0px;
    -webkit-user-modify: read-only !important;
    box-sizing: border-box;
    appearance: inherit;
  }
  &::-webkit-slider-runnable-track {
    width: 100%;
    height: .5rem;
    background-color: var(--crange-runnable-track-color);
    border-color: transparent;
    border-radius: 1rem;
    color: transparent;
    cursor: pointer;
  }
  &::-webkit-slider-thumb {
    width: 1rem;
    height: 1rem;
    margin-top: -.25rem;
    background-color: rgb(var(--primary));
    border: 0;
    border-radius: 1rem;
    transition: var(--crange-transition);
    appearance: inherit;
  }
  &:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 1px var(--white), 0 0 0 .2rem rgba(var(--primary), .25);
  }
}
// custom slider
.c-slider-container {
  --track-width: 0%;
  --thumb-position: 0%;
  display:flex;
  flex: 1 1 auto;
  position: relative;
  width: 100%;
  min-width:0;
  height: 8px;
  background-color: var(--crange-runnable-track-color); /* 배경 색상 */
  border-radius: 1rem;
  .c-slider-track {
    position: absolute;
    width: var(--track-width, 0%);
    height: 100%;
    background-color: rgb(var(--primary)); /* 활성화된 트랙 색상 */
    border-radius: 5px;
  }
  .c-slider-thumb {
    position: absolute;
    top: 50%;
    left: var(--thumb-position, 0%);
    width: 1rem; /* 슬라이더 핸들 크기 */
    height: 1rem;
    background-color: rgb(var(--primary));
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0 0 1px var(--white), 0 0 0 .2rem rgba(var(--primary), .25);
    transform: translate(-50%, -50%);
    transition: var(--crange-transition);
    outline: none;
    cursor: pointer;
    &:focus {
      box-shadow: 0 0 0 1px var(--white), 0 0 0 .2rem rgba(var(--primary), .5);
    }
  }
  .c-tooltip{
    min-width: 1.875rem;
    &.top{
      top:calc(var(--crange-height) + 2px);
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
