@use './../common/variable' as vars;
@use './../common/mixin' as mixin;
@use 'sass:map';
@use 'sass:color';
@use 'sass:list';

/* Swiper Slide */
.c-swiper {
  .siwper{
    overflow: hidden;
    position: relative;
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:1rem;
    padding: 0;
    padding-bottom:32px;
  }
  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-shrink: 0;
    position: relative;
    transition-property: transform;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 1rem;
    background: var(--white);
    img{
      width:100%;
      max-width:100%;
      max-height:100%;
    }
  }
  /* swiper button */
  .swiper-button-prev{
    left:0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='currentColor'%3E%3Cpath fill='none' d='M0 0h24v24H0z'%3E%3C/path%3E%3Cpath d='M10.8284 12.0007L15.7782 16.9504L14.364 18.3646L8 12.0007L14.364 5.63672L15.7782 7.05093L10.8284 12.0007Z'%3E%3C/path%3E%3C/svg%3E");
  }
  .swiper-button-next{
    right:0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='currentColor'%3E%3Cpath fill='none' d='M0 0h24v24H0z'%3E%3C/path%3E%3Cpath d='M13.1717 12.0007L8.22192 7.05093L9.63614 5.63672L16.0001 12.0007L9.63614 18.3646L8.22192 16.9504L13.1717 12.0007Z'%3E%3C/path%3E%3C/svg%3E");
  }
  .swiper-button-prev, .swiper-button-next{
    display:inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:0;
    bottom:0;
    z-index:1;
    width:32px;height:32px;
    margin:auto 0;
    background-color:transparent;
    background-repeat:no-repeat;
    background-size:24px;
    background-position:50% 50%;
    &::after{
      display:none;
    }
  }
  .swiper-stop,
  .swiper-play{
    overflow:hidden;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position:relative;
    width:100%;
    padding: .75rem;
    border: 1px solid transparent;
    border-radius: .75rem;
    background-color:rgb(var(--primary));
    color:var(--white);
    font-size: var(--num-16);
    font-weight:vars.$regular;
    text-align: center;
    vertical-align: middle;
    line-height: 1;
    @include mixin.rippleEffectPrimary;
    .text{
      color:inherit;
      font-size:inherit;
      font-weight:inherit;
    }
  }
  /* swiper pagination */
  .swiper-pagination,
  .swiper-pagination-bullets.swiper-pagination-horizontal, 
  .swiper-pagination-custom, 
  .swiper-pagination-fraction{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:4px;
    position:static;
    bottom:0;
    z-index:0;
    width:100%;
    height: 32px;
    background-color:var(--white);
    color:var(--white);
    font-size:12px;
    text-align: center;
    transition: .3s opacity;
    transform: translate3d(0, 0, 0);

  }
  .swiper-pagination-bullet,
  .swiper-pagination-bullet[role="button"] {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin:0;
    padding:0;
    border-radius: 50%;
    border:0;
    background: rgb(var(--black));
    opacity: .2;
    color: rgb(var(--black));
    font-weight:400;
    cursor: pointer;
    &.swiper-pagination-bullet-active{
      width: 30px !important;
      height: 8px !important;
      border-radius: 30px !important;
      background: rgb(var(--primary));
      opacity:1;
    }
  }
  .swiper-button-disabled {
    opacity: .8;
    cursor: default;
  }
  .swiper-horizontal>.swiper-pagination-bullets, 
  .swiper-pagination-current{
    font-weight: vars.$bold;
  }
  .swiper-pagination-fraction{
    color: rgb(var(--black));
    font-size: .875rem;
    font-weight: 400;
  }
  .swiper-pagination-current{
    font-weight:700;
  }
  .swiper-pagination-total{
    font-weight:400;
  }
  .swiper-android .swiper-slide, .swiper-ios .swiper-slide, .swiper-wrapper {
    transform: translate3d(0px, 0, 0);
  }
  /* swiper wrapper */
  .swiper-wrapper {
    display: flex;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    transition-property: transform;
    transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
    box-sizing: content-box;
  }
  &.swiper-backface-hidden .swiper-slide {
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  &.single{
    height:auto;
    padding:0;
    .swiper-slide {
      border:1px solid var(--silver);
      img{
        max-height:none;
      }
    }
    .swiper-button-prev, 
    .swiper-button-next, 
    .swiper-pagination {
      display: none;
    }
  }
  .single-slide{
    text-align: center;
  }
}

.datepicker {
  position: relative;
  flex: 1;
  height: 8.25rem;
  box-sizing: content-box;
  &-group {
    display: flex;
    position: relative;
    padding: 56px 0;
    gap: 0 5px;
    &::before {
      display: block;
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      height: 2.75rem;
      background-color: vars.$primary-op8;
      border-radius: .75rem;
    }
  }
  .selection {
    height: 100%;
    width: 100%;
  }
  // swiper
  .swiper {
    overflow: hidden;
    position:static;
    height: 8.25rem;
  }
  .swiper-slide {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: var(--gray);
    line-height: 2.75rem;
  }
  .swiper-slide-active {
    color: rgb(var(--black));
    font-size: 1rem;
    font-weight: bold;
    .selection {
      span.sr-only {
        font-weight: normal;
        overflow: visible;
        width: auto;
        height: auto;
        clip: auto;
        margin-left: .375rem;
      }
    }
  }
  .swiper-button-prev {
    @include mixin.position(absolute, $top: -2.5rem, $left: 50%);
    transform: translateX(-50%);
    width: 100%;
    height: 2.5rem;
    text-align: center;
    [class^=ri-] {
      font-size: 1.5rem;
    }
  }
  .swiper-button-next {
    @include mixin.position(absolute, $bottom: -2.5rem, $left: 50%);
    transform: translateX(-50%);
    width: 100%;
    height: 2.5rem;
    text-align: center;
    [class^=ri-] {
      font-size: 1.5rem;
    }
  }
  .swiper-button-prev,
  .swiper-button-next {
    margin-top:auto;
    background-color: transparent;
    color:inherit;
    cursor: pointer;
    &.swiper-button-disabled,
    &[disabled]{
      opacity:.5;
    }
    &::after{
      display:none;
    }
  }
}