@use './../common/variable' as vars;
@use './../common/mixin' as mixin;
@use 'sass:map';
@use 'sass:color';
@use 'sass:list';

// Tag
.c-tooltip{
  --c-tooltip-radius: 4px;
  --c-tooltip-font-size: var(--num-12);
  --c-tooltip-black-bg: rgb(var(--gray-12));
  --c-tooltip-black-desc: rgb(var(--gray-08));
  --c-tooltip-white-bg: rgb(var(--white));
  --c-tooltip-white-desc: rgb(var(--gray-10));

  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position:absolute;
  z-index:1;
  min-width: 3rem;
  margin:0;
  padding:0.25rem;
  border-radius: var(--c-tooltip-radius);
  border:0;
  background-color: var(--c-tooltip-black-bg);
  // box-shadow: 2px 6px 12px 0 rgba(var(--black),0.12);
  filter: drop-shadow(0px 2px 6px rgba(var(--black), 0.12));
  font-family: vars.$font-family;
  font-weight:vars.$regular;
  opacity:1;
  span{
    width: 100%;
    display: block;
    text-align: center;
    color: rgb(var(--white));
    font-size: var(--c-tooltip-font-size);
    &.desc{
      color: var(--c-tooltip-black-desc);
    }
  }

  // tip 위치
  // @include mixin.tooltip(5px, bottom, var(--c-tooltip-black-bg));
  &.top {
    @include mixin.tooltip(5px, top, var(--c-tooltip-black-bg));
    &-left{
      @include mixin.tooltip(5px, top, var(--c-tooltip-black-bg));
      &:before{ left: 1rem; }
    }
    &-right{
      @include mixin.tooltip(5px, top, var(--c-tooltip-black-bg));
      &:before{ left: unset; right: 1rem; }
    }
  }
  &.bottom {
    @include mixin.tooltip(5px, bottom, var(--c-tooltip-black-bg));
    &-left{
      @include mixin.tooltip(5px, bottom, var(--c-tooltip-black-bg));
      &:before{ left: 1rem; }
    }
    &-right{
    @include mixin.tooltip(5px, bottom, var(--c-tooltip-black-bg));
      &:before{ left: unset; right: 1rem; }
    }
  }
  &.right {
    @include mixin.tooltip(5px, right, var(--c-tooltip-black-bg));
  }
  &.left {
    @include mixin.tooltip(5px, left, var(--c-tooltip-black-bg));
  }

  // 흰색
  &.white{
    background-color: var(--c-tooltip-white-bg);
    span{
      color: rgb(var(--black));
      &.desc{
        color: var(--c-tooltip-white-desc);
      }
    }
    // tip 위치
    // @include mixin.tooltip(5px, bottom, var(--c-tooltip-white-bg));
    &.top {
      @include mixin.tooltip(5px, top, var(--c-tooltip-white-bg));
      &-left{
        @include mixin.tooltip(5px, top, var(--c-tooltip-white-bg));
        &:before{ left: 1rem; }
      }
      &-right{
        @include mixin.tooltip(5px, top, var(--c-tooltip-white-bg));
        &:before{ left: unset; right: 1rem; }
      }
    }
    &.bottom {
      @include mixin.tooltip(5px, bottom, var(--c-tooltip-white-bg));
      &-left{
        @include mixin.tooltip(5px, bottom, var(--c-tooltip-white-bg));
        &:before{ left: 1rem; }
      }
      &-right{
        @include mixin.tooltip(5px, bottom, var(--c-tooltip-white-bg));
        &:before{ left: unset; right: 1rem; }
      }
    }
    &.right {
      @include mixin.tooltip(5px, right, var(--c-tooltip-white-bg));
    }
    &.left {
      @include mixin.tooltip(5px, left, var(--c-tooltip-white-bg));
    }
  }
  
}
