@use "./../common/variable" as vars;
@use "./../common/mixin" as mixin;
@use "sass:map";
@use "sass:color";
@use "sass:list";

// 공통 접두사 스타일 정의
$flex: flex;
$group-prefix: "group";

/* S : Contents */
section {
    --section-gap: 1.6rem;
    --section-division-height: 12px;
    position: relative;
    padding: var(--section-gap) 0;
    padding-right: 1rem;
    padding-left: 1rem;
    background-color: rgb(var(--white));
    article {
        padding-right: 0;
        padding-left: 0;
    }
    &:not(:first-of-type) {
        padding-top: calc(var(--section-gap) + var(--section-division-height));
        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: var(--section-division-height);
            box-sizing: border-box;
            border-top: 1px solid rgb(var(--gray-17)); // #eeeeee
            border-bottom: 1px solid rgb(var(--gray-17)); // #eeeeee
            // background: var(--bg-gray) linear-gradient(180deg, #E1E1E14D 0%, #E1E1E100 100%) 0% 0% no-repeat;
            background-color: rgb(var(--gray-16)); // #f4f4f4
            // box-shadow: 0 -1px 0 var(--lightgray);
        }
    }
    &.main_section {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        background-color: transparent;
    }
    &.page_title_area {
        padding: 1rem;
    }
    &.no_gap {
        padding-left: 0;
        padding-right: 0;
    }
    &.topfixed_area {
        padding-top: 0;
        &:has(.c-tabs) {
            padding: 0;
        }
    }
    &.bg_none {
        background-color: transparent;
    }
    &.noLine {
        padding-top: var(--section-gap);
        &::before {
            display: none;
        }
    }
    &:has(.menu-box) {
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
    }
}
article {
    position: relative;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;

    &:first-of-type {
        > .title_sub {
            margin-top: 1rem;
        }
    }

    // 설정
    .list_setting {
        padding: 0;
    }

    + article {
        margin-top: 1.25rem;
    }
    &.sample_box {
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    }
    &.menu-box {
        width: 100%;
        padding: 1rem;
        border-radius: 0.75rem;
        background-color: var(--bg-gray);
        + .menu-box {
            margin-top: 0.5rem;
        }
        &:has(.c-card-footer) {
            padding: 1rem 1rem 0;
        }
    }
    &.disease {
    }
}

// 그룹
.#{$group-prefix} {
    display: $flex;
    width: 100%;
    &.vertical {
        flex-direction: column;
    }
    // group head
    &_head {
        position: relative;
        &.center {
            justify-content: center;
        }
        ~ .group_body.terms {
            margin-top: var(--num-12);
        }
    }
    // group body
    &_body {
        &.terms {
            .list {
                li {
                    .c-label {
                        border-radius: 0;
                    }
                    .c-checktype.gray {
                        &:has(.c-check:checked) {
                            .c-label {
                                box-shadow: none;
                                background-color: rgb(var(--gray-02));
                            }
                        }
                    }
                    &:first-of-type {
                        .c-label {
                            border-radius: 0.5rem 0.5rem 0 0;
                        }
                    }
                    &:last-of-type {
                        .c-label {
                            border-radius: 0 0 0.5rem 0.5rem;
                        }
                    }
                    &:first-of-type,
                    &:last-of-type {
                        .c-checktype.box {
                            &:has(.c-check:checked) {
                                .c-label {
                                    border-radius: 0.5rem;
                                }
                            }
                        }
                    }
                    ~ li {
                        border-top: 0;
                    }
                }
            }
        }
    }
    // group foot
    &_foot {
    }
    // 버튼 그룹
    &_button {
        display: $flex;
        width: 100%;
        &.flex_space {
            gap: 1rem;
            &:has(.c-btn.xs) {
                gap: 0.5rem;
            }
        }
        &.flex-end {
            justify-content: flex-end;
        }
    }
    // 라디오 그룸
    &_radio {
        display: $flex;
        width: 100%;
        gap: 10px;
        .c-radiotype.half {
            flex: 1 1 auto;
            .c-label {
                flex: 1 auto;
                justify-content: center;
            }
        }
        &.vertical {
            flex-direction: column;
        }
    }
    // 필드
    &_field {
        display: $flex;
        width: 100%;
        gap: 8px;
        .c-label + .c-inp-el {
            margin-left: 0;
        }
        .c-inptype {
            &:has(.c-inp-el ~ .c-btn.w-auto) {
                gap: 8px;
            }
        }

        &.vertical {
            flex-direction: column;
        }
    }
    // 리서치 그룹
    &_research {
        display: $flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 1rem;
        margin-bottom: 1.5rem;
        &:has(.c-radiotype) {
            .c-radiotype {
                + .group_input {
                    padding-left: 1rem;
                }
                + .c-inptype {
                    padding-left: 1rem;
                }
                + .disease_list {
                    padding-left: 1rem;
                }
            }
        }
    }
    // 인풋 그룹
    &_input {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        margin-bottom: 1.5rem;
        .c-inptype {
            flex-wrap: wrap;
            label {
                width: 100%;
            }
        }
        &:has(.title_label) {
            flex-wrap: wrap;
            gap: 0.5rem;
            margin-bottom: 0;
            .c-seltype {
                width: calc(100% / 2 - 0.25rem);
            }
        }
    }
    // 링크 그룹
    &_link {
        display: flex;
        width: 100%;
        padding: 0 1rem;
        gap: 10px;
        &.center {
            justify-content: center;
        }
        &.right {
            justify-content: flex-end;
        }
    }
    &_tag {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
    }
    &_title {
        display: flex;
        flex: 1;
        min-width: 0;
        position: relative;
        line-height: 1.1;
        i {
            position: absolute;
            top: 0;
            left: -24px;
        }
        em {
            flex-shrink: 0;
            font-size: var(--num-14);
            &.ess {
                color: rgb(var(--primary));
            }
        }
        .title_middle {
            flex: 1;
            min-width: 0;
        }
    }
    // 휴대폰 인증
    &_mobile {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 0.5rem;
        .label {
            margin-bottom: -0.25rem;
        }
        .field {
            .c-btn {
                padding: 1rem 0;
            }
        }
    }
    // 텍스트 그룹
    &_text {
        text-align: center;
    }
}
// 간격
.c-table,
.c-list,
.c-card {
    ~ .c-table,
    ~ .c-list,
    ~ .c-card {
        margin-top: var(--num-12);
    }
}
.veiw_head {
    width: 100%;
    padding: 1rem;
    .datearea {
        display: flex;
        justify-content: space-between;
        position: relative;
        width: 100%;
        font-size: var(--num-14);
    }
    + .cbody {
        padding: 1rem;
        border-top: 1px solid var(--lightgray);
    }
}
.chead {
    flex: 0 0 auto;
    position: relative;
    width: 100%;
    padding: 1rem;
    // padding:2rem 1rem 2.5rem;
    .title,
    .desc {
        width: 100%;
        text-align: center;
    }
    &.normal {
        padding: 0;
    }
    &.flex-center {
        display: flex;
        justify-content: center;
    }
}
.cbody {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    width: 100%;
    padding-bottom: 0;
    background-color: rgb(var(--white));
    &:has(.termsview) {
        .title_headline {
            padding: 1rem 0;
        }
    }
    &:has(.view) {
        padding: 0 var(--num-16);
        .view {
            border-top: 1px solid rgb(var(--gray-04));
        }
    }
}
.cfoot {
    display: flex;
    flex: 0 0 auto;
    gap: 8px;
    padding: 1rem;
    .c-btn {
        flex: 1 1 auto;
        &.w-fix {
            flex-shrink: 0;
            width: 30.4%;
            min-width: 6.25rem;
        }
    }
    &.is-fixed {
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: rgb(var(--white));
    }
    &.column {
        .c-btn {
            width: 100%;
        }
    }
    &.copyright {
        justify-content: center;
        align-items: center;
        height: 7.125rem;
        padding: 0;
        color: rgb(var(--black));
        font-size: var(--num-12);
        line-height: 1.125rem;
    }
    &:has(.desc) {
        flex-wrap: wrap;
        padding: 1rem;
        background-color: rgb(var(--white));
        .desc {
            width: 100%;
            padding-bottom: 0.75rem;
            color: var(--gray);
            font-size: var(--num-13);
        }
    }
    &:has(.c-btn.round) {
        padding: 1rem;
        background-color: rgb(var(--white));
    }
}
// complate
.complate {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
    .group_text {
        width: 100%;
        em {
            color: rgb(var(--primary));
        }
        ~ .group_button {
            margin-top: 1rem;
        }
    }
    .desc {
        margin-top: 1rem;
    }
    .c-img {
        padding: 2.5rem;
        text-align: center;
    }
    img {
        display: inline-block;
        max-width: 6.25rem;
    }
    > img {
        width: 11.25rem;
        margin: 0;
    }
    &.flex-start {
        justify-content: flex-start;
    }
    &_head,
    &_body,
    &_foot {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    &_body {
        margin: 40px 0 20px;
        b {
            color: vars.$primary;
        }
    }
    &_foot {
        p {
            color: var(--gray);
            font-size: var(--num-14);
        }
        .c-btn.inline {
            color: vars.$primary;
        }
    }
}
// 약관보기
.termshead {
    padding: 1rem;
    .title_sub {
        padding-bottom: 1rem;
    }
}
.termsview {
    padding: 1rem;
    color: rgb(var(--gray-12));
    font-size: var(--num-16);
    line-height: 1.75rem;
    strong {
        display: inline-block;
        margin-bottom: 0.5rem;
    }
}
// 캠페인
.campaign {
    position: relative;
    img {
        display: inline-block;
        width: fit-content;
    }
    .c-img {
        justify-content: center;
        text-align: center;
    }
    .text {
        padding: 0 1rem;
        text-align: center;
        &.top {
            margin-bottom: 2.5rem;
        }
        &.middle {
            margin-top: 2.5rem;
            margin-bottom: 2.5rem;
            p:first-of-type {
                font-size: var(--num-14);
            }
            p:last-of-type {
                font-size: var(--num-12);
            }
        }
        &.bottom {
            margin-bottom: 7rem;
            span {
                font-size: var(--num-12);
            }
        }
    }
    .img-fix {
        position: absolute;
        bottom: 0;
        &.left {
            left: 0;
            width: 100px;
        }
        &.right {
            right: 0;
            width: 200px;
        }
    }
}
.event {
    .list {
        li ~ li {
            margin-top: 0.25rem;
        }
    }
    .c-tab-content {
        padding-right: 1rem;
        padding-left: 1rem;
    }
    .c-img {
        img {
            width: fit-content;
        }
    }
}
.search_head {
    position: fixed;
    z-index: 2;
    width: 100%;
    padding: 0 1rem 1rem;
    background-color: rgb(var(--white));
    &.is-fixed {
        z-index: 1;
    }
}
.view {
    width: 100%;
    padding: var(--num-20) 0;
    color: rgb(var(--gray-12));
    font-size: var(--num-16);
    line-height: 1.75rem;
    img {
        width: fit-content;
        margin-right: auto;
        margin-left: auto;
    }
}
// 비밀번호 변경
.password_field {
}
/* E : Contents */

/* S : Sidebar */
.c-sidebar {
    --c-sidebar-bezier: cubic-bezier(0.4, 0, 0.2, 1);

    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: -1;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(var(--white));
    transition:
        right 0.3s var(--c-sidebar-bezier),
        opacity 0.3s var(--c-sidebar-bezier),
        z-index 0.3s step-end;

    article {
        padding-right: 0;
        padding-left: 0;
        &.c-card {
            padding-right: 1rem;
            padding-left: 1rem;
        }
    }

    &-inner {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
        height: 100%;
        background-color: rgb(var(--white));
    }
    // 상태
    &.is-show {
        right: 0;
        z-index: 101;
        opacity: 1;
        transition:
            right 0.3s var(--c-sidebar-bezier),
            opacity 0.3s var(--c-sidebar-bezier);
    }
    // 위치
    &.left {
        right: auto;
        left: -100%;
        transition:
            left 0.3s var(--c-sidebar-bezier),
            opacity 0.3s var(--c-sidebar-bezier),
            z-index 0.3s step-end;
        &.is-show {
            right: auto;
            left: 0;
            opacity: 1;
            transition:
                left 0.3s var(--c-sidebar-bezier),
                opacity 0.3s var(--c-sidebar-bezier);
        }
    }

    &-title {
        display: block;
    }
    &-close {
        position: absolute;
        top: 1rem;
        right: 1rem;
    }

    // 상단
    &-head {
        display: flex;
        align-items: center;
        flex: 0 0 auto;
        position: relative;
        height: 56px;
        padding: 1rem;
        border-bottom: 1px solid var(--lightgray);
    }
    // 본문
    &-body {
        flex: 1 1 auto;
        overflow-x: hidden;
        overflow-y: auto;
        position: relative;
        padding: 1rem;
    }
    // 하단
    &-foot {
        flex: 0 0 auto;
        position: relative;
        height: 56px;
        padding: 1rem;
        border-top: 1px solid var(--lightgray);
        &:has(.menu_footer) {
            height: max-content;
            .menu_footer {
                padding: 0;
            }
        }
    }
    &:has(.side_margin) {
        .side_margin {
            padding: 1rem 0;
            + .side_margin {
                padding-top: 0;
            }
            + article.c-card {
                margin-top: 0;
            }
            .ad_area {
                margin: 0;
            }
        }
    }
}
@keyframes sidebarOpen {
    0% {
        right: -100%;
        z-index: 100;
        opacity: 0;
    }
    100% {
        right: 0;
        z-index: 100;
        opacity: 1;
    }
}

@keyframes sidebarClose {
    0% {
        right: 0;
        z-index: 100;
        opacity: 1;
    }
    100% {
        right: -100%;
        z-index: -1;
        opacity: 0;
    }
}
/* E : Sidebar */

/* S : Layout */
.l {
    &-page {
        --cfoot-padding-bottom: 6.5rem;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        min-height: 100dvh;
        margin: auto;
        padding: vars.$header-height 0 2rem;

        > section {
            width: 100%;
        }

        // contents division class가 있는 경우
        &:has(.division) {
            article {
                fieldset {
                    padding-bottom: 0;
                }
                + article {
                    margin-top: var(--num-20);
                    padding-top: var(--num-20);
                    &::before {
                        content: "";
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 50%;
                        transform: translateX(-50%);
                        width: calc(100% - 2rem);
                        height: 1px;
                        background-color: rgb(var(--gray-04));
                    }
                }
            }
        }

        // 하단 tabbar가 있을 경우
        &:has(.c-tabbar.fixed-bottom) {
            padding-bottom: 5.5rem;
        }
        &:has(.cfoot.is-fixed) {
            padding-bottom: var(--cfoot-padding-bottom);
            &:has(.sample_box) {
                padding-bottom: 7rem;
            }
        }
        &:has(.cfoot.column.is-fixed) {
            padding-bottom: 6rem;
        }
        // 하단에서 나오는 토스트 하단 고정 버튼이 있는 경우
        &:has(.cfoot.is-fixed) {
            .c-toast.bottom.is-show {
                align-items: flex-end;
                bottom: 5.5rem;
                .c-toast-inner {
                    margin-bottom: 0;
                }
                ~ .c-toast.bottom.is-show {
                }
            }
        }

        // 가이드에 있는 구조
        &:has(
                .cbody
                    > section
                    > .code_editor
                    > .code_input
                    > .c-tabbar.fixed-bottom
            ) {
            padding-bottom: 5.5rem;
        }
    }
    &-wrap {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        min-height: 100dvh;
    }
}
/* E : Layout */

/* Not Found (에러페이지) */
.l-page[data-page="notfound"] {
    padding: 0;
    .group_button {
        width: 100%;
    }
    .nodata {
        display: flex;
        flex: 1 auto;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .icon {
        width: 5rem;
        height: 5rem;
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: 100%;
    }
    .desc {
        font-size: 3.61112vw;
        text-align: center;
    }
    .title {
        font-size: 5.55556vw;
    }
}
@media (min-width: 500px) {
    .l-page[data-page="notfound"] {
        .desc {
            font-size: 16px;
        }
        .title {
            font-size: 24px;
        }
    }
}
